---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Works from '../components/Works.astro';
import Blogs from '../components/Blogs.astro';
import Contact from '../components/Contact.astro';
import ScrollAnimations from '../components/ScrollAnimations.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <About />
    <Works />
    <Blogs />
    <Contact />
  </main>
  <ScrollAnimations />
</Layout>
